*{
    font-family: 'Libre Baskerville', serif;
}


.third_body_part{
    height: 120vh;
    box-sizes: border-box;
    background-image: url(''); /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover; /* This will make the background image cover the entire element */
    background-repeat: no-repeat; /
}




.inner-width{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: 0 40px;
    overflow: hidden;
}

.section-title{
    margin-top: 70px;
    text-align: center;
    color: #2c5c4f;
    text-transform: uppercase;
    font-size: 40px;
}

.border-ser{
    width: 180px;
    height: 2px;
    background: #2c5c4f;
    margin: 40px auto;
}

.services-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.service-box{
    margin-top: 20px;
    width: calc(33.33% - 20px);
    padding: 15px;
    text-align: center;
    color: #black;
    cursor: pointer;
}

.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #2c5c4f;
    color: #E7ECEB;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
    color: black;
}


.service-box:hover .service-icon{
    background: #89A49D;
    color: #ddd;
}

.service-title{
    font-size: 20px;
    text-transorm: uppercase;
    margin-bottom: 10px;
}

