{% extends 'base.html' %}


{% block body %}
<section class="welcome_block_contact_page">

      <nav class="navbar navbar-expand-md bg-gainsboro sticky-top border-bottom" style="backdrop-filter: blur(18px);">
           <a href="{{ url_for('home') }}">
            <img class="main_logo" src="/static/image/main-logo.png">
          </a>

          <div class="container">

              <ul class="navbar-nav flex-grow-1 justify-content-between">
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('product_page') }}" style="text-decoration: none; color: #696969">Product</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('services_page') }}" style="text-decoration: none; color: #696969">Services</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('contacts_page') }}" style="text-decoration: none; color: #696969">Contacts</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('location_page') }}" style="text-decoration: none; color: #696969">Location</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('register_page') }}" style="text-decoration: none; color: #696969">Sign Up</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('login_page') }}" style="text-decoration: none; color: #696969">Log In</a></a></li>
              </ul>
        </div>
      </nav>





    <section class="fifth_body_part">
        <div class="contact-content">
            <h2>Contact Us</h2>

        </div>
        <div class="contact-container">
            <div class="contactInfo">


                <div class="contact-box">
                    <div class="contact-icon"><i class="fa-solid fa-map"></i></div>
                    <div class="contact-text">
                        <h3>Adress</h3>
                        <p>Шевченка-59а Kremenets<br> Ukraine 47003</p>

                    </div>
                </div>


                <div class="contact-box">
                    <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="contact-text">
                        <h3>Phone</h3>
                        <p>+380955390724</p>
                    </div>
                </div>


                <div class="contact-box">
                    <div class="contact-icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="contact-text">
                        <h3>Email</h3>
                        <p>dimakohanskyi@gmail.com</p>
                    </div>
                </div>




            </div>

            <div class="contactForm">
                <form method="get" action="/submit_form">
                    <h2>Send Message</h2>

                    <div class="inputbox-contact">
                        <input type="text" required="required" name="fullNameC">
                        <span>Full Name</span>
                    </div>

                    <div class="inputbox-contact">
                        <input type="text" name="emailContact" required="required">
                        <span>Email</span>
                    </div>


                    <div class="inputbox-contact">
                        <textarea required="required" name="customer_message"></textarea>
                        <span>Type your Message...</span>
                    </div>


                    <div class="inputbox-contact">
                        <input type="submit" name="" value="Send">
                    </div>


                </form>
            </div>


        </div>
    </section>




</section>



{% endblock %}