{% extends 'base.html' %}


{% block body %}

<section class="welcome_block">

      <nav class="navbar navbar-expand-md bg-gainsboro sticky-top border-bottom" style="backdrop-filter: blur(18px);">
          <a href="{{ url_for('home') }}">
            <img class="main_logo" src="/static/image/logo.png">
          </a>

          <div class="container">

              <ul class="navbar-nav flex-grow-1 justify-content-between">
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('product_page') }}" style="text-decoration: none; color: #696969">Product</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('services_page') }}" style="text-decoration: none; color: #696969">Services</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('contacts_page') }}" style="text-decoration: none; color: #696969">Contacts</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('location_page') }}" style="text-decoration: none; color: #696969">Location</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('register_page') }}" style="text-decoration: none; color: #696969">Sign Up</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('login_page') }}" style="text-decoration: none; color: #696969">Log In</a></a></li>
              </ul>
        </div>
      </nav>

    <div>
        <p class="title_information">Authentic and Luxurious</p>
        <p class="subtitle_information">Your Home Deserves Special and Selected Furnishings</p>
    </div>


</section>









<section class="try_page_body">


<div class="container_try">
    <div class="card">
        <div class="front">
            <img class="product1" src="/static/image/product_chair.jpg">
        </div>
        <div class="back">
            <h1 class="product1_title">Стілець Tibi</h1>
                <h3 class="product1_subtitle">Price: 2 100 грн</h3>
        </div>
    </div>
</div>






    <div class="container_try">
    <div class="card">
        <div class="front">
            <img class="product1" src="static/image/product_glass-table.jpg">
        </div>
        <div class="back">
            <h1 class="product1_title">Журнальний столик</h1>
                <h3 class="product1_subtitle">Price: 3 600 грн</h3>
        </div>
    </div>
</div>



    <div class="container_try">
    <div class="card">
        <div class="front">
            <img class="product1" src="/static/image/product_table.jpg">
        </div>
        <div class="back">
            <h1 class="product1_title">Комод Unity</h1>
                <h3 class="product1_subtitle">Price: 4 700 грн</h3>
        </div>
    </div>
</div>



</section>








<section class="third_body_part">


    <div class="third-title">
        <h1>SERVICES</h1>
    </div>




    <div class="card_service_1">
        <div class="serivice_one">
            <p>Кухні на замовлення</p>
        </div>
    </div>

    <div class="card_service_2">
        <div class="serivice_two">
            <p>Корпусні меблі</p>
        </div>
    </div>


    <div class="card_service_3">
        <div class="serivice_three">
            <p>Розробка проекту</p>
        </div>
    </div>


    <div class="card_service_4">
         <div class="serivice_four">
            <p>Заміри</p>
        </div>
    </div>

</section>



<section class="fourth_body_part">

    <div class="fourth_title">
        <h1>Location Info</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d570.0443672659565!2d25.727106578787165!3d50.0972826487123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472fc14bd6509b3b%3A0x34d0355633333a2d!2sMebli.%20Kremenets%CA%B9.%20Shou-Rum%20%22Dim%20Mebliv%22!5e0!3m2!1sru!2sua!4v1695139038112!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>


{% endblock %}
