{% extends 'base.html' %}


{% block body %}

<section class="welcome_block">

      <nav class="navbar navbar-expand-md bg-gainsboro sticky-top border-bottom" style="backdrop-filter: blur(18px);">
          <a href="{{ url_for('home') }}">
            <img class="main_logo" src="/static/image/main-logo.png">
          </a>

          <div class="container">

              <ul class="navbar-nav1">
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('product_page') }}" style="text-decoration: none; color: #696969">Product</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('services_page') }}" style="text-decoration: none; color: #696969">Services</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('contacts_page') }}" style="text-decoration: none; color: #696969">Contacts</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('location_page') }}" style="text-decoration: none; color: #696969">Location</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('login_page') }}" style="text-decoration: none; color: #696969">Log In</a></a></li>
              </ul>
        </div>
      </nav>





    <div>
        <p class="title_information">Authentic and Luxurious</p>
        <p class="subtitle_information">Your Home Deserves Special and Selected Furnishings</p>
    </div>






</section>

        <div class="title-prodcut-body-sale">
            <h2>Our Bestsellers</h2>
        </div>



    <section class="try_page_body">

        <div class="container_try">
            <div class="card">
                <div class="front">
                    <img class="product1" src="/static/image/product_chair.jpg">
                </div>
                <div class="back">
                    <h1 class="product1_title">Стілець Tibi</h1>
                        <h3 class="product1_subtitle">Price: 2 100 грн</h3>
                </div>
            </div>
        </div>

         <div class="container_try">
            <div class="card">
                <div class="front">
                    <img class="product1" src="static/image/product_glass-table.jpg">
                </div>
                <div class="back">
                    <h1 class="product1_title">Журнальний столик</h1>
                        <h3 class="product1_subtitle">Price: 3 600 грн</h3>
                </div>
            </div>
        </div>

        <div class="container_try">
            <div class="card">
                <div class="front">
                    <img class="product1" src="/static/image/product_table.jpg">
                </div>
                <div class="back">
                    <h1 class="product1_title">Комод Unity</h1>
                        <h3 class="product1_subtitle">Price: 4 700 грн</h3>
                </div>
            </div>
        </div>

        <div class="container_try_row">
            <div class="container_try">
                 <div class="card">
                    <div class="front">
                        <img class="product1" src="/static/image/chair_2.jpg">
                    </div>
                    <div class="back">
                        <h1 class="product1_title">VELVET чорний каркас</h1>
                            <h3 class="product1_subtitle">Price: 4 200 грн</h3>
                    </div>
                </div>
            </div>

        </div>


        <div class="container_try_row">
            <div class="container_try">
                 <div class="card">
                    <div class="front">
                        <img class="product1" src="/static/image/table2.jpg">
                    </div>
                    <div class="back">
                        <h1 class="product1_title">Журнальний стіл Gina</h1>
                            <h3 class="product1_subtitle">Price: 2 650 грн</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="container_try_row">
            <div class="container_try">
                 <div class="card">
                    <div class="front">
                        <img class="product1" src="/static/image/magazine_table.jpg">
                    </div>
                    <div class="back">
                        <h1 class="product1_title">Журнальний стіл</h1>
                            <h3 class="product1_subtitle">Price: 5 000 грн</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_try_row">
            <div class="container_try">
                 <div class="card">
                    <div class="front">
                        <img class="product1" src="/static/image/product8.jpg">
                    </div>
                    <div class="back">
                        <h1 class="product1_title">Журнальний стіл</h1>
                            <h3 class="product1_subtitle">Price: 5 000 грн</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_try_row">
            <div class="container_try">
                 <div class="card">
                    <div class="front">
                        <img class="product1" src="/static/image/product6.jpg">
                    </div>
                    <div class="back">
                        <h1 class="product1_title">Журнальний стіл</h1>
                            <h3 class="product1_subtitle">Price: 5 000 грн</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_try_row">
            <div class="container_try">
                 <div class="card">
                    <div class="front">
                        <img class="product1" src="/static/image/product7.jpg">
                    </div>
                    <div class="back">
                        <h1 class="product1_title">Журнальний стіл</h1>
                            <h3 class="product1_subtitle">Price: 5 000 грн</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="discount-body-part">
        <div class="discount">
            <h2>Discount</h2>
            <br>
            <p>Create account and get 10% discount for all products</p>
        </div>
    </section>


    <section class="third_body_part">
        <div class="service-section">
            <div class="inner-width">
                <h1 class="section-title">Our Services</h1>
                <div class="border-ser"></div>

                <div class="services-container">


                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fas fa-paint-brush"></i>
                        </div>
                        <div class="service-title">Розробка Індивідульного Проекту</div>
                    </div>


                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-ruler"></i>
                        </div>
                        <div class="service-title">Виїзд майстра на заміри</div>

                    </div>



                     <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-chair"></i>
                        </div>
                        <div class="service-title">Корпусні меблі</div>

                    </div>


                     <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-kitchen-set"></i>
                        </div>
                        <div class="service-title">Кухні на замовлення</div>

                    </div>


                     <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-hammer"></i>
                        </div>
                        <div class="service-title">Стільниці і Фасади</div>

                    </div>


                     <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="service-title">Розробка Індивідульного Проекту</div>

                    </div>
                </div>
            </div>
        </div>

    </section>




    <section class="fifth_body_part">
        <div class="contact-content">
            <h2>Contact Us</h2>

        </div>
        <div class="contact-container">
            <div class="contactInfo">


                <div class="contact-box">
                    <div class="contact-icon"><i class="fa-solid fa-map"></i></div>
                    <div class="contact-text">
                        <h3>Adress</h3>
                        <p>Шевченка-59а Kremenets<br> Ukraine 47003</p>

                    </div>
                </div>


                <div class="contact-box">
                    <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="contact-text">
                        <h3>Phone</h3>
                        <p>+380955390724</p>
                    </div>
                </div>


                <div class="contact-box">
                    <div class="contact-icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="contact-text">
                        <h3>Email</h3>
                        <p>dimakohanskyi@gmail.com</p>
                    </div>
                </div>




            </div>

            <div class="contactForm">
                <form method="get" action="/submit_form">
                    <h2>Send Message</h2>

                    <div class="inputbox-contact">
                        <input type="text" required="required" name="fullNameC">
                        <span>Full Name</span>
                    </div>

                    <div class="inputbox-contact">
                        <input type="text" name="emailContact" required="required">
                        <span>Email</span>
                    </div>


                    <div class="inputbox-contact">
                        <textarea required="required" name="customer_message"></textarea>
                        <span>Type your Message...</span>
                    </div>


                    <div class="inputbox-contact">
                        <input type="submit" name="" value="Send">
                    </div>


                </form>
            </div>


        </div>
    </section>



    <section class="footer-body-part">
        <footer>
            <div class="footer-container">
                <div class="socialIcon-footer">
                    <a href="https://www.facebook.com/dimmebliv.kremenets"><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-telegram"></i></a>
                </div>
                <div class="footerNav">
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('product_page') }}">Product</a></li>
                        <li><a href="{{ url_for('services_page') }}">Services</a></li>
                        <li><a href="{{ url_for('contacts_page') }}">Contact Us</a></li>
                        <li><a href="{{ url_for('login_page') }}">Log In</a></li>
                    </ul>
                </div>
            </div>
                <div class="footerBottom">
                    <p>CopyRight &copy;2023; Designed by <span class="designer">Refr1gerator</span></p>
                </div>
        </footer>
    </section>


{% endblock %}
