{% extends 'base.html' %}


{% block body %}

<section class="welcome_block">

      <nav class="navbar navbar-expand-md bg-gainsboro sticky-top border-bottom" style="backdrop-filter: blur(18px);">
          <img class="main_logo" src="https://scontent.flwo4-2.fna.fbcdn.net/v/t39.30808-1/295141245_995830057927618_1729107216749950674_n.png?stp=dst-png_p320x320&_nc_cat=104&ccb=1-7&_nc_sid=754033&_nc_ohc=uM1BPy0fIzIAX__pi-S&_nc_ht=scontent.flwo4-2.fna&oh=00_AfAGbHkzA_hGuBM7t4ciNx01OyEiyM1YcpoND305vHZZfg&oe=65053348">

          <div class="container">

              <ul class="navbar-nav flex-grow-1 justify-content-between">
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('home') }}" style="text-decoration: none; color: #696969">Home</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('product_page') }}" style="text-decoration: none; color: #696969">Product</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('services_page') }}" style="text-decoration: none; color: #696969">Services</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('contacts_page') }}" style="text-decoration: none; color: #696969">Contacts</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('location_page') }}" style="text-decoration: none; color: #696969">Location</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('register_page') }}" style="text-decoration: none; color: #696969">Sign Up</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('login_page') }}" style="text-decoration: none; color: #696969">Log In</a></a></li>
              </ul>
        </div>
      </nav>

    <div>
        <p class="title_information">Authentic and Luxurious</p>
        <p class="subtitle_information">Your Home Deserves Special and Selected Furnishings</p>
    </div>


</section>









<section class="try_page_body">


<div class="container_try">
    <div class="card">
        <div class="front">
            <img class="product1" src="https://scontent.flwo4-2.fna.fbcdn.net/v/t45.5328-4/217765350_4428421757188383_6846233120058286114_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9ab401&_nc_ohc=D05J327o0UkAX8s4Bqp&_nc_ht=scontent.flwo4-2.fna&oh=00_AfDMq6YgFicoLfxmc9vOoNb5PyGyHAAY7fnmly6r09sVqg&oe=650814FC">
        </div>
        <div class="back">
            <h1 class="product1_title">Стілець Tibi</h1>
                <h3 class="product1_subtitle">Price: 2 100 грн</h3>
        </div>
    </div>
</div>






    <div class="container_try">
    <div class="card">
        <div class="front">
            <img class="product1" src="https://scontent.flwo4-2.fna.fbcdn.net/v/t45.5328-4/254751600_4307444789364305_1590052777504781475_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=9ab401&_nc_ohc=7EauQNVtGXcAX_6IExb&_nc_ht=scontent.flwo4-2.fna&oh=00_AfDzEbelYyccMoDGxPQEafDdoEd3FWz8gYRNSRgy26bAyw&oe=650860DA">
        </div>
        <div class="back">
            <h1 class="product1_title">Журнальний столик</h1>
                <h3 class="product1_subtitle">Price: 3 600 грн</h3>
        </div>
    </div>
</div>



    <div class="container_try">
    <div class="card">
        <div class="front">
            <img class="product1" src="https://scontent.flwo4-1.fna.fbcdn.net/v/t45.5328-4/220961845_4225449297523248_3076638339904457627_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9ab401&_nc_ohc=RTEDGR7OSAUAX9CgX48&_nc_ht=scontent.flwo4-1.fna&oh=00_AfAxzoTmPb9RWi3XlYUf7qwci6zOk-3HtVjGDhnL4QvwhA&oe=65089560">
        </div>
        <div class="back">
            <h1 class="product1_title">Комод Unity</h1>
                <h3 class="product1_subtitle">Price: 4 700 грн</h3>
        </div>
    </div>
</div>






</section>








<section class="third_body_part">


    <div class="third-title">
        <h1>SERVICES</h1>
    </div>




    <div class="card_service_1">
        <div class="serivice_one">
            <p>Кухні на замовлення</p>
        </div>
    </div>

    <div class="card_service_2">
        <div class="serivice_two">
            <p>Корпусні меблі</p>
        </div>
    </div>


    <div class="card_service_3">
        <div class="serivice_three">
            <p>Розробка проекту</p>
        </div>
    </div>


    <div class="card_service_4">
         <div class="serivice_four">
            <p>Заміри</p>
        </div>
    </div>

</section>


{% endblock %}
