{% extends 'base.html' %}


{% block body %}
<section class="welcome_block_product_page">

      <nav class="navbar navbar-expand-md bg-gainsboro sticky-top border-bottom" style="backdrop-filter: blur(18px);">
          <a href="{{ url_for('home') }}">
            <img class="main_logo" src="/static/image/main-logo.png">
          </a>

          <div class="container">

              <ul class="navbar-nav1">
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('product_page') }}" style="text-decoration: none; color: #696969">Product</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('services_page') }}" style="text-decoration: none; color: #696969">Services</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('contacts_page') }}" style="text-decoration: none; color: #696969">Contacts</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('location_page') }}" style="text-decoration: none; color: #696969">Location</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('login_page') }}" style="text-decoration: none; color: #696969">Log In</a></a></li>
              </ul>
        </div>
      </nav>




            <div class="products-page-container">
                     <div class="product-row">
                    <div class="col-md-3">
                        <div class="product-page-card">
                            <div class="product-card-body">
                                <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                <h2 class="product-card-title text-center">Chair</h2>
                                <p class="product-card-text text-center">VELVET чорний каркас</p>
                                <h5 class="text-center">Price: 4 200</h5>
                                <div class="product-btn">
                                    <button type="button">Contact Us</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                     <div class="product-row">
                    <div class="col-md-3">
                        <div class="product-page-card">
                            <div class="product-card-body">
                                <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                <h2 class="product-card-title text-center">Chair</h2>
                                <p class="product-card-text text-center">VELVET чорний каркас</p>
                                <h5 class="text-center">Price: 4 200</h5>

                                <div class="product-btn">
                                    <button type="button">Contact Us</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                     <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-row">
                        <div class="col-md-3">
                            <div class="product-page-card">
                                <div class="product-card-body">
                                    <img class="card-image" src="/static/image/chair_2.jpg" alt="">
                                    <h2 class="product-card-title text-center">Chair</h2>
                                    <p class="product-card-text text-center">VELVET чорний каркас</p>
                                    <h5 class="text-center">Price: 4 200</h5>
                                    <div class="product-btn">
                                        <button type="button">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="swich-page-container">
                        <ul>
                            <li><a href="{{ url_for('product_page') }}">1,</a></li>
                            <li><a href="{{ url_for('product_second_page') }}">2,</a></li>
                            <li><a href="{{ url_for('product_third_page') }}">3</a></li>
                        </ul>
                    </div>



            </div>


</section>


{% endblock %}
