{% extends 'base.html' %}


{% block body %}

<body>
    <section class="register_section">
        <div class="form-box">
            <div class="form-value">
                <form method="post" action="/register_validation">
                    <h2>Creating Account</h2>

                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email">
                        <label>Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password1">
                        <label>Password</label>
                    </div>

                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password2">
                        <label>Confirm Password</label>
                    </div>


                    <div class="forget">
                        <label><a href="{{ url_for('login_page') }}">Have account? Login</a></label>

                    </div>
                    <button>Log in</button>

                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

{% endblock %}