{% extends 'base.html' %}


{% block body %}
<section class="welcome_block_service_page">

      <nav class="navbar navbar-expand-md bg-gainsboro sticky-top border-bottom" style="backdrop-filter: blur(18px);">
           <a href="{{ url_for('home') }}">
            <img class="main_logo" src="/static/image/main-logo.png">
          </a>


          <div class="container">

              <ul class="navbar-nav flex-grow-1 justify-content-between">
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('product_page') }}" style="text-decoration: none; color: #696969">Product</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('services_page') }}" style="text-decoration: none; color: #696969">Services</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('contacts_page') }}" style="text-decoration: none; color: #696969">Contacts</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('location_page') }}" style="text-decoration: none; color: #696969">Location</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('register_page') }}" style="text-decoration: none; color: #696969">Sign Up</a></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><a href="{{ url_for('login_page') }}" style="text-decoration: none; color: #696969">Log In</a></a></li>
              </ul>
        </div>
      </nav>


    <section class="discount-body-part">
        <div class="discount">
            <h2>Discount</h2>
            <br>
            <p>Create account and get 10% discount for all products</p>
        </div>
    </section>


    <section class="third_body_part">
        <div class="service-section">
            <div class="inner-width">
                <h1 class="section-title">Our Services</h1>
                <div class="border-ser"></div>

                <div class="services-container">


                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fas fa-paint-brush"></i>
                        </div>
                        <div class="service-title">Розробка Індивідульного Проекту</div>
                    </div>


                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-ruler"></i>
                        </div>
                        <div class="service-title">Виїзд майстра на заміри</div>

                    </div>



                     <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-chair"></i>
                        </div>
                        <div class="service-title">Корпусні меблі</div>

                    </div>


                     <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-kitchen-set"></i>
                        </div>
                        <div class="service-title">Кухні на замовлення</div>

                    </div>


                     <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-hammer"></i>
                        </div>
                        <div class="service-title">Стільниці і Фасади</div>

                    </div>


                     <div class="service-box">
                        <div class="service-icon">
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="service-title">Розробка Індивідульного Проекту</div>

                    </div>
                </div>
            </div>
        </div>

    </section>




</section>






{% endblock %}